In [2]:
import pandas as pd

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("StudentsPerformance.csv")

In [5]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
df["Total"]=df["math score"]+df["reading score"]+df["writing score"]
df["Average"]=df["Total"]/3

In [7]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,Average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [17]:
categorical_feature =  [ft for ft in df.columns if df[ft].dtype=="object"]
numerical_feature = [ft for ft in df.columns if df[ft].dtype!="object"]

In [18]:
print(categorical_feature,numerical_feature)

['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course'] ['math score', 'reading score', 'writing score', 'Total', 'Average']

In [21]:
print(df.describe)

<bound method NDFrame.describe of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score  Total  \
0                      none          72             72             74    218
1                 completed          69             90             88    247
2                      none          90             95             93    278
3                      none          47             57             44    148
4                      none          76             78             75    229
..                      ...         ...            ...            ...    ...
995               completed          88             99             95    282
996                    none          62             55             55    172
997               completed          59             71             65    195
998               completed          68             78             77    223
999                    none          77             86             86    249

       Average
0    72.666667
1    82.333333
2    92.666667
3    49.333333
4    76.333333
..         ...
995  94.000000
996  57.333333
997  65.000000
998  74.333333
999  83.000000

[1000 rows x 10 columns]>

In [30]:
print(df["gender"].unique())

['female' 'male']

In [27]:
df.nunique()

gender                           2
race/ethnicity                   5
parental level of education      6
lunch                            2
test preparation course          2
math score                      81
reading score                   72
writing score                   77
Total                          194
Average                        194
dtype: int64